body{
    background: url('https://img.freepik.com/foto-gratis/tablas-madera-restaurante-borroso-fondo_1253-56.jpg?w=2000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
h1{
    color: gray;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background: khaki;
    padding: 50px;
    border: 2px black solid;
}
#thirdDiv ul {
    list-style: none;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}